.chat-container {
  display: flex;
  height: 90vh;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.chat-sidebar {
  width: 280px;
  border-right: 1px solid #eee;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.chat-sidebar h3 {
  padding: 15px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  background: #f1f1f1;
}

.user-list {
  flex: 1;
  overflow-y: auto;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.user-item:hover {
  background: #f0f0f0;
}

.user-item.active {
  background: #e6f7f7;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ddd;
}

.user-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.online-dot {
  font-size: 10px;
  color: #22c55e;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  background: #fafafa;
}

.header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background: #fdfdfd;
}

.message {
  max-width: 40%;
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
}

.message.sent {
  margin-left: auto;
  background: #0abab5;
  color: #fff;
  border-bottom-right-radius: 0;
}

.message.received {
  margin-right: auto;
  background: #f1f1f1;
  color: #000;
  border-bottom-left-radius: 0;
}

.message .time {
  display: block;
  font-size: 11px;
  opacity: 0.7;
  margin-top: 4px;
  text-align: right;
}

.chat-input {
  display: flex;
  /* width: 50%;  */
  gap: 8px;
  padding: 12px;
  border-top: 1px solid #eee;
  background: #fafafa;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.chat-input button {
  background: #0abab5;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.chat-input button:hover {
  background: #099f9a;
}

.chat-placeholder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
}

.unread-badge {
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  margin-left: auto;
}
